@model List<AccountingApp.Models.ChartOfAcc>

@{
    ViewBag.Title = "RetainedEarnings";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
    //Layout = null;

}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />*@

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <style>
       
    </style>
</head>

<body>


    @*Amnah*@
    <div class="shadow container" style="width:60%; background-color:gainsboro;">
        <div class="card-columns" style="width:100%; column-count:1; padding-top:20px;">
            <div class="card" id="printContent" style="text-align:center;">
                <div class="card-body" style="display:inline-block;">
                    <h4 class="card-title" style="padding: 0px; margin: 0px;">Addams & Family Inc.</h4>
                    <h4 class="card-title" style="padding: 0px; margin: 0px;">Statement of Retained Earnings</h4>

                    <h4 style="padding: 0px; margin: 0px;">
                        @*style="padding-bottom: 20px" <- this was here if we wanted to increase vertical blank space*@
                        For the Period Ending
                        <script>
                            var options = { year: 'numeric', month: 'long', day: 'numeric' };

                            document.write(new Date().toLocaleDateString("en-US", options))                        </script>
                    </h4>
                    <hr style="border-width: 2px; border-color: black" />
                    <table id="retainedEarningsTable" align="center" class="table-striped" style="width:510px">
                        <tr class="titleRow">
                            <td style="text-align: left">
                                Beg Retained Earnings,
                                <script>
                                    var date = new Date();
                                    date.setFullYear(date.getFullYear() - 1);
                                    document.write(date.toDateString());

                                </script>
                            </td>
                            <td style="text-align: right">$0.00</td>
                        </tr>
                        <tr class="titleRow">
                            <td style="text-align: left">Add: Net Income</td>
                            <td style="float:right">@ViewBag.NetIncome</td>
                        </tr>
                        <tr class="titleRow">
                            <td style="text-align: left">Less: Dividents Paid</td>
                            <td style="text-align: right; border-bottom: .15rem solid">0.00</td>
                        </tr>
                        <tr class="titleRow">
                            <td style="text-align: left">
                                End Retained Earnings,
                                <script>
                                    document.write(new Date().toDateString());
                                </script>
                            </td>
                            <td style="text-align: right; border-bottom: .4rem double;">$@ViewBag.NetIncome</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/html2pdf.bundle.min.js"></script>
    <button id="cmd">Generate PDF</button>
    <script>
        $('#cmd').click(function () {
            var element = document.getElementById('printContent');
            html2pdf().from(element).save("RetainedEarnings");
        });
    </script>
    <script>
        $(document).ready(function () {
            var table = document.getElementById("retainedEarningsTable");

            for (var i = 1; i < table.rows.length; i++) {
                var Dhtml = table.rows[i].cells[1].innerText;
                var newDhtml = Dhtml.replace("$", "");

                if (newDhtml != "") {
                    table.rows[i].cells[1].innerText = formatMoney(newDhtml);
                }
            }

            placeDollarSigns();
        });
    </script>

    <script>
        function formatMoney(n, c, d, t) {
            var c = isNaN(c = Math.abs(c)) ? 2 : c,
                d = d == undefined ? "." : d,
                t = t == undefined ? "," : t,
                s = n < 0 ? "-" : "",
                i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
                j = (j = i.length) > 3 ? j % 3 : 0;

            return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
        };

        function placeDollarSigns() {
            var table2 = document.getElementById("retainedEarningsTable");

            var num = table2.rows.length - 1;
            var x = table2.rows[num].cells[1].innerText;

            table2.rows[num].cells[1].innerText = "$ " + x;
        }
    </script>


</body>

</html>

